{% extends "cms/base.html" %}

{% block title %}{% endblock title %}

{% block content %}
<h4 class="mt-4 border-bottom border-primary">キャラ一覧</h4>
<a href="{% url 'cms:chara_add' r_or_c='register' %}" class="btn btn-primary my-3">登録</a>
<a href="{% url 'cms:chara_add' r_or_c='create'%}" class="btn btn-primary my-3">新規作成</a>
<form action="" method="get" class="form-group">
    <input name="query" value="{{ request.GET.query }}" type="text" class="form-control col-6 col-sm-5 col-md-4 col-lg-3">
    <button type="submit">検索する</button>
</form>
<table class="table table-striped table-borderd">
    <thead>
    <tr>
        <th scope="col">キャラクター名</th>
        <th scope="col">職業</th>
        <th scope="col">編集</th>
    </tr>
    </thead>
    <tbody>
    {% for chara in object_list %}
    <tr>
        <td><a href="{% url 'cms:chara_detail' pk=chara.pk what='ability' %}">{{chara.name}}</a></td>
        <td>{{chara.profession|default:"------"}}</a></td>
        <td>
            <a href="{% url 'cms:chara_del' pk=chara.pk %}" class="btn btn-danger">削除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
    <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
    <li class="page-item">
    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
    <span aria-hidden="true">&laquo;</span>
    </a>
    </li>
            {% endif %}
    <!-- 数字の部分 -->
            {% for num in page_obj.paginator.page_range %}
                {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
                    {% if page_obj.number == num %}
    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
    <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
    <li class="page-item">
    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
    <span aria-hidden="true">&raquo;</span>
    </a>
    </li>
            {% endif %}
    </ul>
    </nav>
{% endblock content %}